/* for laptops and desktops - screens equal to or greater than 1200px wide */
@media only screen and (max-width: 1264px){
    .work .universe .saturn{
        left: 27% !important
    }

    .container {
        width: auto;
        padding-left: 30px;
        padding-right: 30px
    }
    #first-scene {
        width: 790px;
        height: 635px
    }
    /* Hero */
    .hero .offer {
        margin-top: 140px
    }
    .feedback .space {
        display: none
    }
    .feedback .rocket {
        left: 50px
    }
    .feedback .feedback-wrap {
        width: 600px
    }
    .feedback .feedback-wrap .feedback-container {
        padding: 42px 52px
    }

    /* Portfolio */
    .portfolio-page .portfolio .portfolio-wrap .portfolio-item .mask{
        overflow-y: scroll;
        padding: 0 10px 0 10px !important;
    }

    .portfolio-page .portfolio .portfolio-wrap .portfolio-item .mask__container{
        flex-direction: column;
        height: 100%;
    }

    .portfolio-page .portfolio .portfolio-wrap .portfolio-item .mask__info-block .mask__info-item{
        justify-content: center;
    }

    .portfolio-page .portfolio .portfolio-wrap .portfolio-item .mask__container .mask__info-block{
        margin-top: 20px;
    }

    .portfolio-page .portfolio .portfolio-wrap .portfolio-item .mask a{
        order: -1;
    }

    .portfolio-page .portfolio .portfolio-wrap .portfolio-item .mask__info-block .mask__info-item span{
        font-size: 13px !important;
    }

    .portfolio-page .portfolio .portfolio-wrap .portfolio-item .mask .look_item span{
        display: none;
    }

    .portfolio-page .portfolio .portfolio-wrap .portfolio-item .mask a i{
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 1056px) {
    .nav {
        display: none
    }
    .hero .universe {
        top: 287px;
        -webkit-transform: translateY(-8%);
        -ms-transform: translateY(-8%);
        transform: translateY(-8%)
    }
    .hero .universe__layers .layer .mens {
        width: 300px
    }
    .hero .universe__layers .layer .screen {
        width: 300px
    }
    .hero .universe__layers .layer .girl {
        width: 351px;
        left: 22%;
        background-size: contain
    }
    .hero .heading {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .hero .heading .fa.fa-bars {
        display: block!important;
        margin-left: auto;
        margin-top: 0
    }
}

/* for small laptops - screens equal to or greater than 992px wide */
@media only screen and (max-width: 992px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    body{
        font-size: 13px !important;
    }
    #hero{
        padding-top: 20px;
    }

    #hero .offer__title_main span {
        left: calc(50% - 2px);
    }

    .work .bg-elements img.rocket{
        width: 400px !important;
        bottom: 0% !important;
        top: unset !important;
        transform: unset !important;
    }

    /* Blog */
    .blog-posts__item{
        width: calc(100% / 12 * 6 - 30px) !important;
    }

    /* Article */
    .single-page{
        .cover__title{
            margin-left: 50px;
            font-size: 50px;
        }
        .single-page{
            padding: 20px 0!important;
        }
        .single-page__cover{
            height: 250px;
        }

        .single-page__grid{
            grid-gap: 20px;
            margin-top: 200px;
        }

        .single-page__article{
            padding: 20px 25px;
        }

        .recent-post__thumbnail{
            width: 75px;
            height: 75px;
        }
    }

    body:not(.home) .hero {
        padding-bottom: 0
    }
    section {
        padding: 50px 0!important
    }
    .hero {
        padding-bottom: 700px
    }
    .hero .heading {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .hero .offer__title {
        text-align: center
    }
    .hero .offer__title_menu {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .hero .offer__title_main span {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100%
    }
    .hero .offer__title_excerpt {
        margin-left: auto;
        margin-right: auto
    }
    .hero .universe {
        bottom: 0;
        top: unset
    }
    .hero .offer {
        position: relative;
        z-index: 2
    }
    .services__wrap .item::after {
        display: none
    }
    .work {
        padding-bottom: 400px!important
    }
    .work .bg-elements {
        bottom: 0;
        top: unset;
        height: 400px
    }
    .work .bg-elements img.rocket {
        -webkit-animation: unset;
        animation: unset;
        left: 2%;
        z-index: 3;
        width: 150px;
        top: 0;
        margin-top: 0
    }
    .work .universe {
        width: 100%
    }
    .work .universe__layers {
        width: 100%
    }
    .work .universe__layers .uran {
        right: 0;
        left: unset
    }
    .work .work-process__timeline,
    .work .work-process__timeline li {
        width: 100%!important
    }

    .blog .universe .universe__layers .man {
        display: none
    }
    .feedback .rocket {
        display: none
    }
    .feedback-wrap {
        margin-right: auto
    }
    .accordion {
        width: auto
    }
}

/* for tablets - screens equal to or greater than 768px wide */
@media only screen and (max-width: 768px){
    /* Specification */
    body:not(.home) .section-titles {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    body:not(.home) .section-title {
        font-size: 21px;
        margin-top: 30px
    }

    .section-title,
    .section-titles {
        text-align: center!important
    }
    .section-tab-navigation {
        margin-top: 20px
    }
    blockquote{
        margin: 0px 10px;
    }

    /* Blog */
    .blog-posts__item{
        height: 210px;
    }

    .item__head{
        flex-direction: column;
        align-items: flex-start;
    }

    .views, .pubdate{
        margin-left: 0;
    }

    /* Article */
    .single-page{
         .section-titles.cover__title{
            margin-top: 50px;
            text-align: left !important; 
        }
        .single-page__grid{
            grid-template-columns: 1fr;
            margin-top: 150px;
        }
    }

    /* Sidebar */
    .page-sidebar__box--recent-posts{
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-right: 0;
    }

    /* Services */
    .services__wrap .item {
        margin-bottom: 50px
    }
    
    /* Work */
    .work .section-title {
        width: auto
    }

    /* Portfolio */
    #portfolio .section-tab-navigation {
        flex-wrap: wrap;
        justify-content: center;
    }

    #portfolio .section-tab-navigation li {
        margin-top: 11px;
    }

    .portfolio .portfolio-wrap .portfolio-item,
    .portfolio .portfolio-wrap .portfolio-item:nth-child(even) {
        margin: 0;
        top: 0
    }
    
    .portfolio .order-btn {
        margin-top: 50px
    }

    .portfolio .portfolio-wrap .portfolio-item {
        height: 200px
    }

    /* Feedback */
    .feedback .feedback-wrap {
        width: auto
    }
}

/* for phones - screens less than 768px wide */
@media only screen and (max-width: 565px) {
    /* Specification */
    .container {
        padding-left: 15px;
        padding-right: 15px
    }
    .section-title {
        font-size: 21px
    }
    .btn {
        padding: 10px 32px
    }

    /* Mobile menu */
    .sub-menu{
        position: static;
        opacity: 1;
        visibility: unset;
        box-shadow: unset;
        background: unset;
        transform: unset;
        top: unset;
        left: unset;
        width: calc(100% - 25px);
        border-radius: 0 0 10px 10px;
        margin-right: 25px;
        padding-left: 0;
        background: #3023ae;
        transition: unset;
    }

    .mobile-menu__nav li{
       padding: 10px;
    }

    .mobile-menu__nav .sub-menu .menu-item-type-taxonomy{
        padding-left: 0;
    }

    .mobile-menu__nav li.active{
        background: #3023ae;
    }

    .mobile-menu__nav .menu-item-has-children:hover .sub-menu{
        visibility: visible;
        opacity: 1;
        transform: unset;
    }


    .sub-menu::before{
        display: none;
    }

    .mobile-menu__nav .sub-menu li{
        text-align: left;
        padding-left: 25px;
    }

    /* Header */
    .hero{
        padding-top: 40px;
        padding-bottom: 450px
    }
    .hero .heading{
        flex-direction: row;
        justify-content: space-between;
    }
    .hero .heading .logo{
        width: 30px;
    }
    .contact__phone, .contact__mail{
        display: none;
    }
    .hero .offer .offer__title_menu li{
        margin-right: 6px;
    }

    .hero .offer {
        margin-top: 75px
    }
    .hero .offer .offer__title_menu {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .hero .offer .offer__title_menu li {
        margin-bottom: 10px
    }
    .hero .offer .offer__title_menu li::after {
        display: none
    }
    .hero .offer__title_main {
        font-size: 28px
    }
    .hero .offer__title_excerpt {
        width: auto;
        font-size: 13px
    }

    .hero .universe {
        height: 500px
    }
    .hero .universe .universe__layers .layer .bg {
        width: 59%
    }
    .hero .universe .universe__layers .layer .girl {
        left: 38%
    }
    .hero .universe .universe__layers .layer .screen {
        width: 150px;
        bottom: 33%
    }
    .hero .universe .universe__layers .layer .mens {
        width: 200px
    }

    /* Services */
    .services {
        padding-bottom: 50px
    }
    .services__wrap .item__thumbnail{
        width: 50px;
    }
    .services .services__wrap .item{
        width: 50%
    }
    .item__excerpt{
        display: none;
    }

    /* Work Process */
    .work .work-process ul>li{
        padding: 15px 40px 15px 40px;
        margin-bottom: 25px;
    }

    .work .rocket {
        -webkit-transform: rotate(31deg);
        -ms-transform: rotate(31deg);
        transform: rotate(31deg);
        width: 114px
    }

    .work .work-process {
        margin-top: 50px
    }

    .work .saturn,
    .work .upiter,
    .work .uran {
        display: none
    }

    /* Portfolio */
    .portfolio {
        padding: 50px 0
    }
    .portfolio .portfolio-wrap {
        grid-column-gap: 0;
        margin-bottom: 0;
    }
    .portfolio .portfolio-wrap {
        grid-template-columns: 1fr
    }
    .page-template-template-portfolio .portfolio .section-tab-navigation li {
        font-size: 13px
    }

    /* Blog */
    .blog {
        padding: 50px 0 120px 0
    }

    .blog-text{
        width: 100%;
    }
    
    .blog-posts__item{
        padding: 10px 10px;
        width: calc(100% / 12 * 12 - 30px) !important;
    }

    .blog .section-title {
        margin-bottom: 50px
    }
    .blog .planet,
    .blog .planet2 {
        display: none
    }
    .blog .universe .universe__layers .girl {
        width: 100%;
        height: 100px
    }

    /* Single page article */
    .cover__title{
        font-size: 20px;
    }
    .single-page{
        margin-bottom: 0;
    }

    .single-page__cover{
        height: 300px;
    }

    .single-page__grid{
        margin-top: 250px;
    }

    .section-titles.cover__title{
        line-height: 34px;
        font-size: 24px;
        margin-left: 15px;
    }

    .single-page__article{
        padding: 0px 20px;
    }

    .single-page__title{
        margin-top: 0;
        font-size: 25px;
         margin-top: 50px;
    }

    .article__text h2{
        font-size: 20px;
    }

    /* Sidebar */
    .page-sidebar{
        margin-top: 50px;
    }

    /* Random blog on archive page */
    .recent-blog__item{
        margin: 0 0 15px 0;
    }
    
    /* Pagination */
    .pagination{
        grid-column: 1/2;
    }

    /* Feedback */
    .feedback {
        padding: 50px 0
    }
    .feedback .feedback-wrap .feedback-container {
        padding: 32px 15px
    }
    .feedback .feedback-wrap .feedback-container .wpcf7-form {
        padding: 30px 20px
    }
    .feedback .feedback-wrap .feedback-container .wpcf7-form .form__heading .form__title {
        font-size: 20px;
        line-height: 1.2em
    }
    .feedback .feedback-wrap .feedback-container .wpcf7-form .form__heading .form__text {
        width: auto
    }
    .feedback .feedback-wrap .feedback-container .wpcf7-form .form__content .privacy {
        width: 150px;
        margin-right: 0
    }
    .feedback .feedback-wrap .feedback-container .wpcf7-form .form__content .form__group .form__input {
        padding: 15px 0 15px 26px
    }
    .feedback .feedback-wrap .feedback-container .wpcf7-form .form__content .send-btn:hover {
        -webkit-box-shadow: 0 10px 25px #c86dd7;
        box-shadow: 0 10px 25px #c86dd7
    }
    .feedback .feedback-wrap .feedback-container .wpcf7-form::after {
        display: none
    }

    /* Footer */
    .footer {
        padding-bottom: 20px
    }
    .footer .footer__in {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center
    }
    .footer .contact_info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
    .footer .contact_info .contact__phone {
        margin-top: 15px;
        margin-bottom: 15px
    }
    .footer .contact_info a i,
    .footer .contact_info span i {
        margin-right: 15px
    }
}
@media only screen and (max-width: 425px){
    .hero .offer__title_main span{
       display: none !important;
    }

    #blog .accordion ul li{
        padding: 22px 25px;
        margin-bottom: 25px;
    }

    #blog .accordion ul li a{
        font-size: 16px;
    }

    #blog .accordion ul li p{
        font-size: 11px;
    }

    .page-template-template-portfolio .portfolio .section-tab-navigation li {
        padding: 0 5px 11px 5px
    }
}