#recallbar{
  background: #42046c;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // Left menu
  .pureweb_profile-random-phrase{
    color: rgba(255,255,255,1);
    font-style: italic;
  }

  .rcb_icons{
    i{
      font-size: 16px !important;
    }
  }

  .rcb_nmbr{
    height: 15px;
    width: 15px;
    line-height: 15px;
    position: absolute;
    right: 0;
    font-size: 9px;
  }

  .rcb_right_menu{
    width: auto;
  }
  .pr_sub_menu{
    background: #fff;
    border-top: unset;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12), 0px 4px 4px rgba(0,0,0,0.24);

    a, i{
      color: #0048ff !important
    }

    .rcb_line:hover{
      background: rgba(0,0,0,0.1)
    }
  }
  .rcb_right_menu__avatar{
    align-items: center;
  }
  .rcb_right_menu img{
    border-radius: 100px;
    margin-right: 5px;
  }
  .rcb_right_menu:hover{
    border: none
  }
}


#rcl-office{
  margin-top: 28px;
  padding-bottom: 50px;

  .cab_lt_sidebar .recall-button:hover .rcli,
  .cab_lt_sidebar .recall-button:hover .rcli, .cab_lt_sidebar .recall-button:hover span{
    background: transparent !important;
  }

  .cab_lt_sidebar .recall-button:hover{
    background: darken(rgb(36, 0, 181),10);
  }

  .cab_lt_title{
    text-align: center;
  }

  .cab_lt_menu{
    font-size: 14px;
    text-align: center;
    height: 35px;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    padding: 0 7px;
  }

  .rcl-action{
    margin: 0;
  }

  .cab_lt_line{
    box-shadow: none;
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: center;

    .cab_lt_wrapper{
      max-width: 760px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .cab_lt_sidebar{
    margin-right: 20px;

    .recall-button{
      .rcli{
        border: 0;
        background: transparent
      }
      &:hover{
        .rcli{
          background: rgba(0,0,0,0.2)
        }
      }
    }

    #rcl-avatar img{
      border-radius: 7px;
    }

    .cab_bttn{
      margin-top: 15px;
      overflow: hidden;
    }

    #lk-menu, .cab_bttn{
      border-radius: 7px;
      a{
        margin: 0;
      }

      span{
        &::after{
          display: none;
        }
      }
    }
  }

  &.wprecallblock #lk-conteyner{
    height: 300px;
    background-attachment: fixed;
  }

  .rcl-content{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12), 0px 4px 4px rgba(0,0,0,0.24);
  }

  .pw_lk_container{
    margin-top: -100px;
    display: flex;
    justify-content: center;

  }

  .recall_content_block{
    background: #fff;
    border-radius: 7px;
    padding: 10px 20px;
  }

  #delete_acc, #cpsubmit{
    padding: 7px 10px;
    border-radius: 3px;
  }

  #delete_acc{
    background: #F44336;
  }
}


#rcl-tabs{
  max-width: 550px;
  width: 100%;
}

.wprecallblock #lk-conteyner{
  max-width: 100%;
  width: 100%
}

.view-user-info{
  font-size: 14px;
  &__title{
    font-family: Open Sans, sans-serif;
  }

  &__item_status{
    font-style: italic;
    padding-right: 20px;
    display: block;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 1);
    br{
      display: none;
    }
  }

  &__item{
    padding: 10px 20px;
    width: calc(100% + 40px);
    margin-left: -20px;
    &:nth-child(odd){
      background: rgba(0,0,0,0.1)
    }
    &:last-child{
      border-bottom: 0;
    }
  }

  &__item__title{
    display: block;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.5);
  }
}
