.sub-menu{
    background: #fff;
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12), 0px 2px 4px rgba(0,0,0,0.24);
    position: absolute;
    top: 45px;
    right: 0;
    transform: translateX(0%) translateY(30px);
    transition: all .3s ease;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    li{
        transition: unset;
        text-align: center;
        padding: 10px;
        text-align: left;
        margin-right: 0 !important;
    }
    li:hover{
      border-color: transparent !important;
      border-radius: 0 !important;
      background: rgba(0,0,0,.1)
    }
}

.menu-item-has-children:hover .sub-menu{
    visibility: visible;
    opacity: 1;
    transform: translateX(0) translateY(0px);
}

.menu-item-has-children,
.sub-menu li{
    position: relative;
    transition: none !important;
}

.mobile-menu__nav > ul > li > a{
    padding-top: 10px;
    margin: 0;
}
