#fancybox-overlay, #fancybox-wrap{
  display: none !important;
}
#rcl-popup{
  width: 100%;
  max-width: 100%;
  height: 100vh;
  // display: none;
  // top: 50% !important;
  // transform: translateX(-50%) translateY(-50%);
  .attach-data-grcl{
    display: flex;
    height: 100%;

    a.fancybox{
      position: relative;
      overflow: hidden;
    }

    .user-attach{
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 5;
      object-fit: contain;
    }

    .user-attach-bg{
      object-fit: cover;
      position: absolute;
      left: 0;
      z-index: 1;
      top: 0;
      filter: blur(10px);
    }

    .fancybox{
      width: 65%;
    }

    .close-gallery{
      position: absolute;
      right: 0;
      z-index: 99;
      &::before{
        display: none;
      }
    }

    .prev-attach,
    .next-attach{
      z-index: 9;
    }

    .navi-gallery{
      top: 50%;
      transform: translateY(-50%);
    }

    .prev-attach{
      margin-left: -47%;
    }

    .next-attach{
      margin-left: 12%;
    }

    .right-part{
      width: 35%;
      height: 100vh;
      overflow: scroll;
      position: relative;

      #commentlist{
        height: calc(100% - 141px);
        overflow-y: scroll;
        .comm-attach{
          margin: 0;
          padding: 0 10px;
          background: transparent;
        }
        .comment-data{
          opacity: .57;
          font-size: 11px;
        }
        .comment-author{
          display: flex;
          align-items: center;
          justify-content: space-between;
          &, a{
            color: #000;
            font-weight: 600;
          }

          .rcl-rating-box{
            margin: 0;
            font-size: 13px;
          }

          .rating-vote.vote-heart,
          .rating-value{
            margin: 0;
          }
        }
        p{
          text-align: left;
          margin-left: 50px;
        }
        .avatar{
          border-radius: 100px;
        }

      }

      #comm-attach-form{
        width: 100%;
      }

      .rcl-rating-box.rating-type-attachment.box-like{
        position: absolute;
        bottom: 0;
      }
    }
  }

  // Popup Gallery

}

// Gallery
#files{
  .attach-edit{
    background: rgba(0, 0, 0, 0.1);
    font-size: 18px;
    a{
      color: #fff;
      &.rcl-edit-post{
        margin-bottom: 10px !important;
      }
      margin: 0 !important;
    }
  }
}
